.ItemInfo{
    display: flex;
    flex-direction: column;
    flex:1 ; 
    overflow-y: scroll;
}

.picture{
    
    height: 400px;
}

.userInfo{
    width: auto;
    height: 80px;
    padding: 0px;
    border: 1px solid black;
}

.ItemInfo{
    width: auto;
    height: 400px;
}

.title{
    font-size: 30px;
    font-weight: 700;
}