/* .Header{
    display: flex;
    gap: 0px;
    border-bottom: 1px solid rgb(226, 226, 226);

}

.Header .selectBox{
    flex:1;
}

 */


.Header{
    display: flex;
    gap: 0px;
    border-bottom: 1px solid rgb(226, 226, 226);
    justify-content: space-between;

}

.Header .select{
    padding: 20px;
    border: none;
    cursor: pointer;
    margin: 5px 10px;
    outline: none;
    font-size: 25px;
 }